/*
 * Copyright (c) 2024 RederoTech
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <st/h7/stm32h743Xi.dtsi>
#include <st/h7/stm32h743vitx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	model = "RederoTech AsynthOsc board";
	compatible = "rederotech,asynthosc";

	chosen {
		zephyr,console = &usart2;
		zephyr,shell-uart = &usart2;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,dtcm = &dtcm;
		zephyr,code-partition = &slot0_partition;
		zephyr,display = &ssd1306;
                zephyr,flash-controller = &w25q32jvss;
	};

	leds: leds {
		compatible = "gpio-leds";
		debug_led: led_0 {
			gpios = <&gpioc 2 GPIO_ACTIVE_LOW>;
			label = "Debug LD0";
		};
		button1_led: led_1 {
			gpios = <&gpiod 3 GPIO_ACTIVE_LOW>;
			label = "Button 1 LD1";
		};
		button2_led: led_2 {
			gpios = <&gpiod 11 GPIO_ACTIVE_LOW>;
			label = "Button 2 LD2";
		};
	};

        enable_display: enable_display {
            compatible = "enable-gpio";
            gpios = <&gpiod 9 GPIO_ACTIVE_HIGH>;
        };

	gpio_keys {
		compatible = "gpio-keys";
		left_button: button_0 {
			label = "User";
			gpios = <&gpiod 2 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_0>;
		};
		right_button: button_1 {
			label = "User";
			gpios = <&gpiod 11 GPIO_ACTIVE_LOW>;
			zephyr,code = <INPUT_KEY_1>;
		};
	};

	aliases {
		led0 = &debug_led;
		led1 = &button1_led;
		sw0 = &left_button;
		watchdog0 = &iwdg;
		die-temp0 = &die_temp;
		volt-sensor0 = &vref;
		volt-sensor1 = &vbat;
                qdec0 = &qdec;
	};
};

&clk_lsi {
	status = "okay";
};

&clk_hsi48 {
	status = "okay";
};

&clk_hse {
	hse-bypass;
	clock-frequency = <DT_FREQ_M(8)>; /* STLink 8MHz clock */
	status = "okay";
};

&pll {
	div-m = <2>;
	mul-n = <240>;
	div-p = <2>;
	div-q = <2>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&pll2 {
	div-m = <4>;
	mul-n = <120>;
	div-p = <2>;
	div-q = <3>; /* gives 80MHz to the FDCAN */
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(480)>;
	d1cpre = <1>;
	hpre = <2>;
	d1ppre = <2>;
	d2ppre1 = <2>;
	d2ppre2 = <2>;
	d3ppre = <2>;
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pd5 &usart2_rx_pd6>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

midi: &uart4 {
	pinctrl-0 = <&uart4_tx_pd1 &uart4_rx_pd0>;
	pinctrl-names = "default";
	current-speed = <31250>;
	status = "okay";
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK_BUS_APB4 0x00010000>,
		 <&rcc STM32_SRC_LSI RTC_SEL(2)>;
	status = "okay";
};

&timers3 {
    status = "okay";

    qdec: qdec {
        status = "disabled";
        pinctrl-0 = <&tim3_ch3_pc8 &tim3_ch1_pb4>;
        pinctrl-names = "default";
        st,input-polarity-inverted;
    //    st,input-filter-level = <FDIV32_N8>;
        st,counts-per-revolution = <16>;
    };

};

&timers1 {
    status = "okay";
    //pinctrl-0 = <&tim1_ch3_pe13 &tim1_ch4_pe14>;
};

&adc1 {
	pinctrl-0 = <&adc1_inp16_pa0 &adc1_inp15_pa3 &adc1_inp19_pa5 &adc1_inp10_pc0>;
	pinctrl-names = "default";
	st,adc-clock-source = <SYNC>;
	st,adc-prescaler = <4>;
	status = "okay";
};

&die_temp {
	status = "okay";
};

&dac1 {
	status = "okay";
	pinctrl-0 = <&dac1_out1_pa4>;
	pinctrl-names = "default";
};

&rng {
	status = "okay";
};

&mac {
	status = "okay";
	pinctrl-0 = <&eth_rxd0_pc4
		     &eth_rxd1_pc5
		     &eth_ref_clk_pa1
		     &eth_crs_dv_pa7
		     &eth_tx_en_pb11
		     &eth_txd0_pb12
		     &eth_txd1_pb13>;
	pinctrl-names = "default";
};

&mdio {
	status = "okay";
	pinctrl-0 = <&eth_mdio_pa2 &eth_mdc_pc1>;
	pinctrl-names = "default";

	ethernet-phy@0 {
		compatible = "ethernet-phy";
		reg = <0x00>;
		status = "okay";
	};
};

&spi2 {
	status = "okay";
	pinctrl-0 = <&spi2_sck_pb10 &spi2_miso_pb14 &spi2_mosi_pb15>;
	pinctrl-names = "default";
	cs-gpios = <&gpioc 7 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

	ssd1306: ssd1306@0 {
		compatible = "solomon,ssd1306fb";
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		com-sequential;
		prechargep = <0x22>;
		inversion-on;
		reg = <0>;
                data_cmd-gpios = <&gpiod 15 GPIO_ACTIVE_LOW>;
                reset-gpios = <&gpioc 6 GPIO_ACTIVE_HIGH>;
                spi-max-frequency = <4000000>;
	};
};

&quadspi {
	pinctrl-names = "default";
	pinctrl-0 = <&quadspi_clk_pb2 &quadspi_bk1_ncs_pb6
		&quadspi_bk1_io0_pc9 &quadspi_bk1_io1_pc10
		&quadspi_bk1_io2_pe2 &quadspi_bk1_io3_pd13>;
	flash-id = <1>;
	status = "okay";

	w25q32jvss: qspi-nor-flash@90000000 {
		compatible = "st,stm32-qspi-nor";
		reg = <0x90000000 DT_SIZE_M(4)>; /* 32 Mbits */
		qspi-max-frequency = <8000000>;
		status = "okay";
		spi-bus-width = <4>;
		writeoc = "PP_1_4_4";
	};
};

&backup_sram {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 128KB for bootloader */
		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(128)>;
			read-only;
		};

		/* storage: 128KB for settings */
		storage_partition: partition@20000 {
			label = "storage";
			reg = <0x00020000 DT_SIZE_K(128)>;
		};

		/* application image slot: 256KB */
		slot0_partition: partition@40000 {
			label = "image-0";
			reg = <0x00040000 DT_SIZE_K(256)>;
		};

		/* backup slot: 256KB */
		slot1_partition: partition@80000 {
			label = "image-1";
			reg = <0x00080000 DT_SIZE_K(256)>;
		};

		/* swap slot: 128KB */
		scratch_partition: partition@c0000 {
			label = "image-scratch";
			reg = <0x000c0000 DT_SIZE_K(128)>;
		};

	};
};

&iwdg1 {
	status = "okay";
};

&vref {
	status = "okay";
};

&vbat {
	status = "okay";
};
